.dhx_combo_img{
	position:absolute;
	top:0px;
	right:0px;
	width:18px;
	height:15px;
}

    
    
.dhx_combo_input{
	color: gray;
    float: left;
    font-size: 12px;
    width: 349px;
}
.dhx_combo_box{

    color: gray;
    float: left;
    font-size: 12px;
    width: 349px;
}

.dhx_combo_list{
    background-color: white;
    border: 1px solid #c2c2c2;
    font-family: Arial;
    font-size: 14pt;
    height: auto;
    overflow: auto;
    position: absolute;
    z-index: 12000;
    text-indent: 5px;
}

.dhx_combo_list div{
	cursor:default;
	padding:2px 2px 2px 2px;
}
.dhx_selected_option{
	background:skyblue;
	color:white;
}
