
#main_container_body_main {
    font-family: arial,serif,Times,Times New Roman;
    margin: 0 auto;
    min-height: 400px;
    width: 3in;
}
#main_container_body_main2 {
    border: 1px solid black;
    float: left;
    margin: 0;
    width: 286px;
}
#main_container_body {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    margin: 0 2%;
    min-height: 100px;
    width: 96%;
}
#pos_top_header {
    ~background: none repeat scroll 0 0 gray;
    font-family: arial,serif,Times,Times New Roman;
    margin: 0 auto;
    min-height: 69px;
    width: 100%;
}
#pos_top_header_left {
    /*background: none repeat scroll 0 0 green;*/
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    margin: 0 auto;
    min-height: 69px;
    width: 100%;
}
#pos_top_header_right {
    background: none repeat scroll 0 0 pink;
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    margin: 0 auto;
    min-height: 69px;
    width: 25%;
}
.pos_top_header_second {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    font-size: 10px;
    height: auto;
    line-height: 20px;
    margin: 0 auto;
    text-indent: 5px;
    width: 100%;
}
.pos_top_header_second_left {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
	font-size:12px;
    margin: 0 auto;
    min-height: 17px;
    width: 52%;
}
.pos_top_header_second_left_two {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    margin: 0 auto;
    min-height: 17px;
	font-size:12px;
    width: 70%;
}
.pos_top_header_second_middle {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    margin: 0 auto;
    min-height: 17px;
	font-size:12px;
    width: 48%;
}
#pos_top_header_second_right {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    margin: 0 auto;
	font-size:12px;
    min-height: 17px;
    width: 52%;
}
#pos_top_header_second_right_1 {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    margin: 0 auto;
	font-size:12px;
    min-height: 17px;
    width: 46%;
}
#pos_top_header_thired {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    height: auto;
    margin: 6px 0 0;
    width: 100%;
}
#pos_top_header_fourth {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    font-size: 10px;
    height: auto;
    line-height: 30px;
    margin: 0 auto;
    width: 100%;
    font-weight: bold;

}
.pos_top_header_fourth_left {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    line-height: 17px;
    margin: 0 auto;
    min-height: 17px;
    text-align: right;
    width: 79%;

}
.pos_top_header_fourth_right {
    border: 1px none #159159;
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    line-height: 17px;
    margin: 0 auto;
    min-height: 17px;
    text-align: right;
    width: 20%;
}
.pos_top_header_fotter {
    float: left;
    font-family: arial,serif,Times,Times New Roman;
    font-size: 10px;
    line-height: 17px;
    margin: 0 auto;
    min-height: 17px;
    text-align: center;
    text-indent: 5px;
    width: 100%;
}



#savving{
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -sand-transform: rotate(-5deg);
  transform: rotate(-5deg);
  text-transform: uppercase;
  //background:url(../images/savings.jpg) no-repeat;
}