<<<<<<< HEAD

.bg-img1{
    background: url("../images/home_btn.jpg") no-repeat scroll center center #FFFFFF;
  
}
.bg-img2{
    background: url("../images/cancle_img.jpg") no-repeat scroll center center #FFFFFF;
    background-size: 100px 100px;
}
.bg-img3{
    background: url("../images/confirm.png") no-repeat scroll center center #FFFFFF;
  
}
.bg-img4{
    background: url("../images/confirm.png") no-repeat scroll center center #FFFFFF;
  
}.bg-img5{
    background: url("../images/confirm.png") no-repeat scroll center center #FFFFFF;
  
}
.bg-img6{
    background: url("../images/confirm.png") no-repeat scroll center center #FFFFFF;
  
}
.view {
   ~background: url("../images/home_btn.jpg") no-repeat scroll center center #FFFFFF;
    ~box-shadow: 1px 1px 2px #E6E6E6;
    ~background:#0072DC;
    cursor: pointer;
    float: left;
    height: 151px;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 242px;
    border-radius:10px;
}
.view .mask, .view .content {
    height: 151px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 242px;
}
.view img {
    background: none repeat scroll 0 0 pink;
    ~border: 1px solid gray;
    display: block;
    height: 151px;
    margin: 0;
    position: relative;
    width: 242px;
}
.view h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 0 0;
    padding: 9px;
    position: relative;
    text-align: center;
}
.view p {
    color: #FFFFFF;
    font-family: Georgia,serif;
    font-size: 12px;
    font-style: italic;
    padding: 10px 20px 20px;
    position: relative;
    text-align: center;
}
.view a.info {
    background: none repeat scroll 0 0 #000000;
    box-shadow: 0 0 1px #000000;
    color: #FFFFFF;
    display: inline-block;
    padding: 7px 14px;
    text-decoration: none;
    text-transform: uppercase;
}
=======

.bg-img1{
    background: url("../images/home_btn.jpg") no-repeat scroll center center #FFFFFF;
  
}
.bg-img2{
    background: url("../images/cancle_img.jpg") no-repeat scroll center center #FFFFFF;
    background-size: 100px 100px;
}
.bg-img3{
    background: url("../images/confirm.png") no-repeat scroll center center #FFFFFF;
  
}
.bg-img4{
    background: url("../images/confirm.png") no-repeat scroll center center #FFFFFF;
  
}.bg-img5{
    background: url("../images/confirm.png") no-repeat scroll center center #FFFFFF;
  
}
.bg-img6{
    background: url("../images/confirm.png") no-repeat scroll center center #FFFFFF;
  
}
.view {
   ~background: url("../images/home_btn.jpg") no-repeat scroll center center #FFFFFF;
    ~box-shadow: 1px 1px 2px #E6E6E6;
    ~background:#0072DC;
    cursor: pointer;
    float: left;
    height: 151px;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 242px;
    border-radius:10px;
}
.view .mask, .view .content {
    height: 151px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 242px;
}
.view img {
    background: none repeat scroll 0 0 pink;
    ~border: 1px solid gray;
    display: block;
    height: 151px;
    margin: 0;
    position: relative;
    width: 242px;
}
.view h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 0 0;
    padding: 9px;
    position: relative;
    text-align: center;
}
.view p {
    color: #FFFFFF;
    font-family: Georgia,serif;
    font-size: 12px;
    font-style: italic;
    padding: 10px 20px 20px;
    position: relative;
    text-align: center;
}
.view a.info {
    background: none repeat scroll 0 0 #000000;
    box-shadow: 0 0 1px #000000;
    color: #FFFFFF;
    display: inline-block;
    padding: 7px 14px;
    text-decoration: none;
    text-transform: uppercase;
}
>>>>>>> 126491c5b956413b4ebc35a0628acbc4d375a4e7
