
#main_invoice {
    margin: 0 auto;
    width: 1000px;
}
#invoice {
    background: none;
    margin: 0 auto;
    min-height: 1000px;
    width: 1000px;
}
#invoice_details_header {
    border-bottom: 1px dashed #959595;
    float: left;
    margin: 0 0 5px;
    min-height: 74px;
    width: 740px;
}
#inv_details_one {
    float: left;
    margin: 0 0 0 0px;
    min-height: 70px;
    width: 406px;
}
#left_div {
    float: left;
    margin: 0;
    min-height: 20px;
    padding: 2px;
    width: 358px;
}
#left_div h2 {
    float: left;
    font-family: arial;
    font-size: 13px;
    margin: 0;
    min-height: 20px;
    padding: 1px;
    width: 125px;
}
#left_div p {
    float: left;
    font-family: arial;
    font-size: 12px;
    margin: 0;
    min-height: 22px;
    text-align: left;
    width: 224px;
    line-height: 22px;
}
#inv_details_two {
    float: left;
    margin-left: 49px;
    min-height: 66px;
    padding: 2px;
    width: 281px;

}
#right_div {
    float: left;
    margin: 0;
    min-height: 20px;
    width: 326px;
}
#right_div h2 {
    float: left;
    font-family: arial;
    font-size: 13px;
    margin: 0;
    min-height: 20px;
    padding: 1px;
    width: 125px;
}
#right_div p {
    float: left;
    font-family: arial;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    min-height: 20px;
    text-align: left;
    text-indent: 5px;
    width: 145px;
}
#show_result_head {
    background: none repeat scroll 0 0 #63ADD9;
    border-bottom: 1px solid #A4A4A4;
    border-left: 1px solid #A4A4A4;
    border-right: 1px solid #A4A4A4;
    border-top: 1px solid #A4A4A4;
    !color: white;
    float: left;
    font-family: arial;
    min-height: 20px;
    width: 741px;
}
#result_view2 {
    border-bottom: 1px solid #A4A4A4;
    border-left: 1px solid #A4A4A4;
    border-right: 1px solid #A4A4A4;
    float: left;
    font-family: arial;
    height: auto;
    width: 741px;
}
#result_view2:hover {
    font-weight: bold;
}
.product_no {
    float: left;
    font-family: arial;
    font-size: 11px;
    line-height: 20px;
    margin: auto;
    min-height: 20px;
    text-align: center;
    width: 68px;
}
.product_code {
    float: left;
    font-family: arial;
    font-size: 11px;
    line-height: 20px;
    margin: 0 auto;
    min-height: 20px;
    text-align: center;
    width: 90px;
}

.product_price {
    float: left;
    font-family: arial;
    font-size: 11px;
    line-height: 20px;
    margin: 0 auto;
    min-height: 20px;
    text-align: right;
    width: 90px;
}

#product_name {
    float: left;
    font-family: arial;
    font-size: 10px;
    line-height: 20px;
    margin: 0 auto;
    min-height: 20px;
    !text-align: center;
    width:320px;
}
#product_name p {
    font-family: Verdana;
    font-size: 8px;
    line-height: 12px;
    margin:-5px auto 0px;
    min-height: 9px;
    text-align: center;
    width: 275px;
}
.waranty_box {
    float: left;
    font-family: arial;
    font-size: 11px;
    line-height: 20px;
    margin: auto;
    min-height: 20px;
    text-align: right;
    width: 80px;
}
#transaction_details {
    float: left;
    margin-top: 5px;
    min-height: 110px;
    width: 743px;
    min-height:170px;
}
#t_left {
    float: left;
    min-height: 105px;
    width: 452px;
}
	#for_text_view
	{
		float: left;
	    min-height: 20px;
	    width: 452px;
	    margin-top:5px;
	    ~background: none repeat scroll 0 0 white;
	}
	#for_text_view,#show_result_head  h2 
	{
		float: left;
	    font-family: arial;
	    font-size: 12px;
	    line-height: 18px;
	    margin: 0;
	    min-height: 20px;
	    padding: 1px;
	    width: 52px;
	    text-indent: 5px;
		~background:yellow;
	}
	#for_text_view,#show_result_head  p 
	{
		~background:pink;
	    float: left;
	    font-family: arial;
	    font-size: 9px;
	    margin: 0px auto;
	    min-height: 20px;
	    text-align: left;
	    width: 350px;
	    line-height:21px;
	    
	}

#t_right {
    ~background: none repeat scroll 0 0 green;
    float: left;
    min-height: 105px;
    width: 291px;
}
#left_portion {
    ~background: none repeat scroll 0 0 white;
    float: left;
    min-height: 105px;
    width: 138px;
}
.title_name {
    ~background: none repeat scroll 0 0 yellow;
    float: left;
    font-family: arial;
    font-size: 13px;
    line-height: 20px;
    margin: 5px 0 0;
    min-height: 20px;
    text-indent: 5px;
    width: 132px;
}
#ri8_portion {
    ~background: none repeat scroll 0 0 brown;
    float: left;
    min-height: 100px;
    width: 102px;
}
.title_result {
    ~background: none repeat scroll 0 0 red;
    float: left;
    font-family: arial;
    font-size: 13px;
    line-height: 20px;
    margin: 5px 0 0;
    min-height: 20px;
    text-align: right;
    text-indent: 5px;
    width: 101px;
}
.dot {
    color: black;
    float: left;
    font-size: 14px;
    margin: 5px 0 0;
    min-height: 20px;
    width: 5px;
}
.dot2 {
    color: black;
    float: left;
    font-size: 14px;
    margin: 0;
    min-height: 20px;
    width:7px;
}

#main_body_invoice
{
	min-height:600px;
	width:743px;
	background:green;
}
#signature_area
{
height:55px;
float:left;
margin:0px  auto;
	
}
	#signature_one
	{
		float: left;
	    height: 25px;
	    width: 371px;	
	}
    .customer_signature
    {
    	line-height:25px;
    	width:350 px;
    	height:25px;
    	font-size:13px;
    	border-bottom:1px solid  gray;
    	!background:white;
    	text-align:center;
    	width:190px;
    	
    }
	.customer_signature2
    {
    	line-height:25px;
    	width:350 px;
    	height:25px;
    	font-size:13px;
    	margin-left:165px;
    	border-bottom:1px solid  gray;
    	!background:white;
    	text-align:center;
    	width:190px;
    	
    }
 			   			
.print_link img
{
	  height: 60px;
      margin-left: 300px;
      width: 72px;
}
	.print_link img:hover
	{
		 height: 60px;
     	 margin-left: 300px;
         width: 72px;
	}
	
.goback_link img
{
	  height: 60px;
      margin-left: 30px;
      width: 72px;
}
	.goback_link img:hover
	{
		  height: 60px;
	      margin-left: 30px;
	      width: 72px;
	}
.clear{clear:both;~background:black;height:1px;}
#mid_box_left
{
~border-radius:10px;
width:49%; 
~min-height:300px; 
float:left;
margin:0px auto;
margin-left:7px;
~background:green;
border:2px solid #efefef;
}
#mid_box_right
{
~border-radius:10px;
width:48%; 
~min-height:300px; 
float:left;
margin:0px atuo;
~background:gray;
border:2px solid #efefef;
}
.TitleBox
{
width:97%; 
~padding-right:2px; 
min-height:28px; 
background:#f7f7f7;
float:left; 
margin:0px 0 0px 5px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
	.TitleBox p
	{
	float:left;margin:5px 6px;width:96%;~text-shadow:0 1px 1px;font-family:arial;font-size:16px;color:#395b7d;text-indent:5px;border-left:5px solid gray;
	}
	.pp
	{
	float:left;
	margin:5px 6px;
	width:98%;
	font-family:arial;
	font-size:16px;
	color:#395b7d;
	text-indent:5px;
	border-left:5px solid gray;
	text-align:left;
	}
	
.Field_Container_Box
{
width:97%; 
float:left;
margin:0px 5px 5px 5px;
background-color:#efefef;
~background:brown;
border:1px solid #dddddd;
}
	.Field_Container_Box p
	{
	text-indent:5px; font-family:Arial; text-decoration:none; margin:3px 0 0; width:45%; min-height:25px; float:left;font-weight:bold;font-size:13px; line-height:25px;color:#454545;
	}
	.p_2
	{
	text-indent:5px; font-family:Arial; text-decoration:none; margin:0px 0 0; width:45%; min-height:25px; float:left;font-weight:bold;font-size:12px; line-height:25px;color:#454545;
	}
	
	
	.Field_Container_Box h2
	{
	font-family:Arial; 
	text-decoration:none; 
	margin:3px 0 0; 
	width:45%; 
	min-height:25px; 
	float:left;
	font-size:14px; 
	line-height:25px;
	color:brown;
	}
	.Field_Container_Box h3
	{
	font-family:Arial; 
	text-decoration:none; 
	margin:3px 0 0; 
	~width:45%; 
	min-height:25px; 
	float:left;
	font-size:13px; 
	line-height:21px;
	color:#919191;
	}
	.Field_Container_Box h5
	{
	color: brown;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-height: 25px;
    padding-left: 5px;
    width: 98%;
	}
	.h8
	{
	color: #454545;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    min-height: 25px;
    text-align: right;
    text-indent: 5px;
    width: 37%;
	}
	.financial__report
	{
	text-indent:5px; 
	font-family:Arial; 
	text-decoration:none; 
	margin:3px 0 0; 
	width:100%; 
	min-height:25px; 
	float:left;
	font-weight:bold;
	font-size:15px; 
	line-height:25px;
	color:#454545;
	}
	.financial__report_2
	{
	text-indent:5px; 
	font-family:Arial; 
	text-decoration:none; 
	margin:0px 0 5px; 
	width:100%; 
	min-height:22px; 
	float:left;
	font-weight:bold;
	font-size:11px; 
	line-height:22px;
	color:#454545;
	}
	.purpose_controller
	{
	color: #454545;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 0;
    margin-top: 0;
    min-height: 25px;
    text-indent: 5px;
    width: 46%;
	}
	.purpose_controller_2
	{
    color: #454545;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight:normal;
    line-height: 25px;
    margin-bottom: 0;
    margin-left: 85px;
    margin-right: 0;
    margin-top: 0;
    min-height: 25px;
    text-indent: 5px;
    width: 51%;
    text-align:right;
	}
	#customer_letter
	{
		float: left;
		font-family: Arial;
		font-size: 14px;
		font-weight:normal;
		line-height: 25px;
		height:auto;
		margin:0px auto;
		width: 100%;
		~background:pink;
		margin-top: 70px;
	}	
		.letter_headding_one
		{
			float: left;
			font-family: Arial;
			height:auto;
			line-height: 25px;
			~min-height: 250px;
			width: 96%;
			margin-left:10px;
			background:white;
		}
			#customer_letter .letter_headding_one p
			{
				float:left;
				font-size: 14px;
				font-weight:normal;
				width:auto;
				margin:0px auto;
			}
		

#shop_title_box {
    background-color: #edfbfe;
    float: left;
    height: 80px;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 0;
    margin-top: 0;
    width: 980px;
}
#left_por {
    float: left;
	margin:90px 0px 0px 300px;
    width: 600px;
}
#shop_title {
    float: left;
    font-family: arial;
    font-size: 25px;
    font-weight: normal;
    height: 200px;
	margin:-100px 0px 0px -20px; 
    ~text-align: center;
    width: 900px;
}
#shop_title_1 {
    float: left;
    font-family: arial;
    font-size: 15px;
    font-weight: normal;
    height: 60px;
	margin: -160px 0 0 -64px;
    ~text-align: center;
    width: 500px;
}
#shop_title_2 {
    color: olive;
    float: left;
    font-family: arial;
    font-size: 19px;
    font-weight: normal;
    height: 50%;
    margin-bottom: 0;
    margin-left: 7px;
    margin-right: 0;
    margin-top: 3px;
    text-align: center;
    width: 98%;
}
#right_por {
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    float: left;
    height: 70px;
    width: 50%;
}
#right_por2 {
    float: left;
	margin:0px 0px 0px 0px;
    width: 1000px;
}
#shop_address {
    color: olive;
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    height: 16px;
    margin-bottom: 0;
    margin-left: 38px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 18%;
    width: 89%;
}
#shop_address_2 {

    float: left;
    font-family: arial;
    font-size: 15px;
    font-weight: normal;
    height: 30px;
    margin:-135px 0 0 30px;
    text-align: left;
    width: 200px;
}
#shop_address_3 {

    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    margin:8px 0 0 0px;
    width: 150px;
}
#shop_address_4 {

    float: left;
    font-family: arial;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    margin:20px 0 0 100px;
    text-align: left;
    width: 100px;
}
.item_link
{
color: brown;
~float:left;
line-height: 15px;
text-align: center;
text-decoration: none;
width:100%;
~background:green;	
}
.table_img, .table_img img
{
width:33%;
margin-left:12%;
height:auto;
}
	
.table_img_2, .table_img_2 img
{
float: right;
width:60%;
margin-left:12%;
height:auto;
margin-right:7px;

}

.CSSTableGenerator {
    border-bottom-color: darkgray;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1px;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-top-color: darkgray;
    border-top-left-radius: 0;
    border-top-right-radius: 1px;
    border-top-style: solid;
    border-top-width: 0;
    float: left;
    height: auto;
    margin-left: 7px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 978px;
    border-left: 1px solid darkgray;
    margin-bottom:5px;
}


.CSSTableGenerator table {
    border-spacing: 0;
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
}

.CSSTableGenerator td {
    border-color: darkgray;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: black;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    vertical-align: middle;
}
.CSSTableGenerator thead tr:last-child td {
     background: #d3d3d3;
	 color: black;

}
.CSSTableGenerator tfoot tr:last-child td {
     ~background: #001f3f;
	 ~color: #FFFFFF;
	 background: #d3d3d3;
	 color: black;

}

.CSSTableGenerator tbody tr {
	 ~background: #8DC0EF;
	  border-color: darkgray;
	  border-width: 0 1px 1px 0;
    background: #52b3d1;
    border-style: solid;
    color: black;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
	border-width:0px 0px 0px 0px;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

